/*
  -> CSS Reset are group of css styles rules to to be applied to its browser default values.

  -> This will be used before applying new styles thus makes styles consistent and cleaner design.

  -> Each html element on each browser has default values.
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
