$colors: (
  primary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%),
  ),
  article: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
    400: hsl(219, 89%, 37%),
    500: hsl(219, 89%, 20%),
  ),
  youtube: (
    100: hsl(345, 88%, 80%),
    200: hsl(345, 88%, 70%),
    300: hsl(345, 88%, 60%),
    400: hsl(345, 88%, 46%),
    500: hsl(345, 88%, 20%),
  ),
);
